spring:
  datasource:
    driver-class-name: org.postgresql.Driver
#    jdbc-url: jdbc:postgresql://ec2-174-129-253-63.compute-1.amazonaws.com:5432/dfc88rlf3uhvc0
#    username: ozuciictnesbcg
#    password: 134e055c5065b3d5a0df644ccd654c93c1513ecbf31eff721850af8d38e7fbab
    jdbc-url: jdbc:postgresql://localhost:5432/b2vn
    username: postgres
    password: 1y5h8j
    initialization-mode: always
    initialize: true
    continue-on-error: true
    platform: postgresql

  main:
    allow-bean-definition-overriding: true

  jackson:
    time-zone: America/Sao_Paulo

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL9Dialect
        jdbc:
          lob.non_contextual_creation: true

app-config:
  oauth-clients:
    b2vn-auth-api:
      client: b2vn-auth-api-client
      secret: b2vn-auth-api-secret

    b2vn-radar-api:
      client: b2vn-radar-api-client
      secret: b2vn-radar-api-secret

    b2vn-acidentes-api:
      client: b2vn-acidentes-api-client
      secret: b2vn-acidentes-api-secret

  services:
    b2vn-auth-api:
      #      url: http://auth:8080
      url: http://localhost:8080

    b2vn-radar-api:
      #      url: http://radar:8081
      url: http://localhost:8081

    b2vn-acidentes-api:
      #      url: http://acidentes:8082
      url: http://localhost:8082

security:
  oauth2:
    resource:
      filter-order: 3

server:
  port: 8080
